<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Absenceapp"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Enseignant -->
        <activity android:name=".activity.LoginEnseignantActivity" android:exported="false" />
        <activity android:name=".activity.SignUpEnseignantActivity" android:exported="false" />
        <activity android:name=".activity.DashboardEnseignantActivity" android:exported="false" />

        <!-- Étudiant -->
        <activity android:name=".activity.LoginEtudiantActivity" android:exported="false" />
        <activity android:name=".activity.SignUpEtudiantActivity" android:exported="false" />
        <activity android:name=".activity.DashboardEtudiantActivity" android:exported="false" />
    </application>

</manifest>